@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Italiana&family=Source+Sans+3:ital@0;1&family=Yeseva+One&display=swap');

.about-component-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.about-component-wrapper h1,
.about-component-wrapper p {
  text-align: center;
}

.about-component-wrapper p {
  max-width: 40em;
  font-size: 1.5rem;
}

.core-values-header-about-page {
  padding: 10px;
}

.core-values-container {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.about-component-img-container,
.amsterdam-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amsterdam-photo-container img,
.about-component-img-container img {
  border-radius: 5%;
}

.amsterdam-photo {
  width: 700px;
}

.diamond-img-about-page {
  width: 400px;
}
