@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Crete+Round&family=Montserrat:wght@200;500&family=Nunito:wght@500&family=Play:wght@700&family=Playfair+Display+SC:ital@1&display=swap');


/* new header styles begin here */ 

/* .html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
} */

.html {  
  scroll-behavior: smooth;  
}
/* 

.header-wrapper { 
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  padding: 15px;
  flex-wrap: wrap;
  border-bottom: 2px solid rgb(46, 41, 41);
  width: 100vw;
} 

.header-button-container { 
  display: flex;
  align-items: center;
  gap: 3em;
  margin-left: 3em;
  font-size: 1.5rem;
} 

.header-button-container > button { 
  background-color: black;
  color: white;
  border: none;
} 

.header-button-container a:hover { 
  background-color: white;
  color: black;
} 

.header-button-container button:hover { 
  background-color: white;
  color: black;
}

.header-button-container a { 
  text-decoration: none;
  color: white;
}


.header-cart-icon, 
.header-gem-icon,
.header-search-icon { 
  color: white;
}

.header-icon-container { 
  display: flex;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
} 

.header-profile-icon { 
  color: white;
}



.badge-icon-for-shopping-cart { 
  position: absolute;
  background-color: white;
  border-radius: 25%;
  vertical-align: top;
  margin-top: -6px;
  margin-left: 22px;
  padding: 2px;
}

.header-icon-container a { 
  text-decoration: none;
  color: black;
} */


/* header styles end  */  






/* main component styles start here */ 


/* .main-title-section-wrapper { 
  background-color: black;
  padding: 5em;
  width: 100vw;
} 

.title-component-header-text-styles { 
  font-size: 2rem;
}

.main-title-subtitle-container { 
  color: white;
}

.main-title-subtitle-container h6 { 
  color: gray;
} 

.images-container { 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: -9em;
  right: -1em;
  height: 100%;
  gap: 1em;
} 

.diamond-img-title-component { 
  width: 40px;
}


.portrait-of-women-styles { 
  width: 100px;
}



.img-styles-title-component { 
  width: 335px;
  transition: all 0.1s ease-in-out;
  animation: fadeInOut 4s infinite;
}

@keyframes fadeInOut { 
  0% { 
    opacity: 0;
  } 

  50% { 
    opacity: 1;
  } 

  100% { 
    opacity: 0;
  }
} */


/* main styles end  */ 






/* categories component */ 


/* .categories-wrapper { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  padding: 15px;
} 

.down-btn-container { 
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 20px;
}

.category-header-text-styles { 
  font-size: clamp(2rem, 2.5vw, 3rem);
}

.category-main-title-component { 
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
} 



.category-card-style-container-mens,
.category-card-style-container-womens,
.category-card-style-container-electronics,
.category-card-style-container-jewelery { 
  background-color: rgb(58, 53, 53);
} 

.category-card-style-container-mens h6, 
.category-card-style-container-womens h6,
.category-card-style-container-electronics h6,
.category-card-style-container-jewelery h6 { 
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

.mens-clothing-icon-container, 
.womens-clothing-icon-container,
.electronics-icon-container,
.jewelery-icon-container { 
  display: flex;
  justify-content: center;
}

.category-card-container-mens-and-womens-clothes,
.category-card-electronics-jewelry-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */




/* category comp ends */ 




/* trending and offers comp styles begin */

/* .trending-offers-component-wrapper { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10em;
  background-color: black;
  color: white;
} 

.down-btn-container { 
  display: flex;
  justify-content: center;
  background-color: black;
}

.special-offers-content-wrapper { 
  display: flex;
  flex-direction: column;
  margin: 12px;
  gap: 1em;
}

.special-offers-header-container { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: 2rem;
  font-weight: bolder;
  padding: 10px;
  background-color: rgb(58, 53, 53);
  border-radius: 8%;
} 

.special-offers-header-container h3 { 
  font-size: clamp(1.2rem, 2.5vw, 1.7rem);
  font-weight: bolder;
}

.earrings-card-container, 
.new-arrivals-card-container,
.special-offers-timer-countdown-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(58, 53, 53);
  padding: 30px;
  border-radius: 10%;
} 

.earrings-title-container h3 { 
  font-weight: bolder;
} 

.earrings-title-container p { 
  text-align: center;
  margin-bottom: 2em;
  color: gray;
}

.earrings-card-container button,
.new-arrivals-card-container button { 
  background-color: black;
  color: white;
  border: none;
  width: 12em;
  padding: 1em;
  border-radius: 10%;
  font-weight: bolder;
}

.earrings-card-container button:hover,
.new-arrivals-card-container button:hover { 
  background-color: white;
  color: black;
}


.earrings-card-discount-div { 
  position: relative;
  bottom: 10em;
  left: 5em;
  background-color: black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
} 

.earrings-card-discount-div p { 
  position: relative;
  top: 1.5em;
}


.new-arrivals-title-container h3 { 
  font-weight: bolder;
}

.new-arrivals-title-container p { 
  text-align: center;
  color: gray;
  margin-bottom: 2.5em;
}


.new-arrivals-img-styles { 
  height: 120px;
  width: 120px;
}


.new-arrivals-discount-circle { 
  position: relative;
  bottom: 10em;
  left: 5em;
  background-color: black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
}

.new-arrivals-discount-circle p { 
  position: relative;
  top: 1.5em;
}

.special-offers-title-text { 
  text-align: center;
}


.count-down-timer-styles { 
  background-color: black;
  font-weight: bolder;
  font-size: 2rem;
  border-radius: 8%;
}



/* trending offers styles begin */ 



/* 
 .trending-offers-container { 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 12px;
  gap: 1em;
}

.trending-offers-header,
.trending-categories-header { 
 display: flex;
 justify-content: flex-start;
 align-items: center;
 gap: 1em;
 background-color: rgb(58, 53, 53);
 text-align: center;
 padding: 10px;
 border-radius: 8%;
} 

.special-offers-card-wrapper { 
  display: flex;
  flex-direction: column;
  gap: 1em;
}


.trending-offers-header h3,
.trending-categories-header { 
  font-size: clamp(1.2rem, 2.5vw, 1.7rem);
  font-weight: bolder;
}

.card-container-trending-offers-set-1 { 
  display: flex;
  gap: 1em;
} 


.card-1-title-styles,
.card-2-title-styles,
.card-3-title-styles,
.card-4-title-styles,
.card-5-title-styles,
.card-6-title-styles { 
  text-align: center;
  font-weight: bolder;
} 

.card-1-price-display,
.card-2-price-display,
.card-3-price-display,
.card-4-price-display,
.card-5-price-display,
.card-6-price-display {
  text-align: center;
} 




.card-container-trending-offers-set-1 { 
  display: flex;
  gap: 1em;
}


.card-container-trending-offers-set2 { 
  display: flex;
  flex-direction: row;
  gap: 1em;
} 


.card-wrapper-trending { 
  display: flex;
  width: 30%;
}


.trending-card-1, 
.trending-card-2,
.trending-card-3,
.trending-card-4,
.trending-card-5,
.trending-card-6 { 
  width: 50%;
}   */


/* trending offers styles end */ 






/* trending and comp styles end */





/* trending categories styles */ 

/* .trending-categories-container { 
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.trending-categories-header-container { 
  background-color: rgb(58, 53, 53);
  display: flex;
  align-items: center;
  border-radius: 8%;
} 

.header-gem-icon-trending-categories { 
  width: 25px; 
  height: 25px;
} 

.card-container-trending-categories { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
}

.trending-categories-card-1,
.trending-categories-card-2,
.trending-categories-card-3 { 
  height: 100%;
  opacity: 0.4;
}

.trending-categories-text-over-cards { 
  position: absolute;
  top: 55em;
  left: 2em;
  font-size: 2.3rem;
  font-weight: bolder;
  z-index: 100;
  color: white;
} 

.trending-categories-text-over-cards button { 
  background-color: black;
  color: white;
  position: relative;
  font-size: 1.4rem;
  font-weight: bolder;
  border: none;
  border-radius: 6%;
} 


.trending-categories-text-over-cards-card2 { 
  position: absolute;
  top: 5em;
  left: 8.4em;
  font-size: 2.3rem;
  font-weight: bolder;
  color: white;
} */


/* footer and blog styles */ 


/* .bottom-footer-content-container { 
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  gap: 2em;
}

.footer-blog-content-wrapper { 
  background-color: rgb(58, 53, 53);
}



.footer-header-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
} 

.footer-header-container h3 { 
  font-weight: bolder;
}



.footer-card-container { 
  display: flex;
  justify-content: center;
  gap: 1em;
} 

.footer-card-1, 
.footer-card-2,
.footer-card-3 {
  width: 25em;
  background-color: black;
  color: white; 
  font-weight: bolder;
}


.fashion-gems-title-icon-container { 
  display: flex;
  align-items: center;
  gap: 0.6em;
  font-size: 1.2rem;
}

.fashion-gems-title-icon-container h3 { 
  font-size: clamp(2.2rem, 2.5vw, 2.7rem);
  font-weight: bolder;
}


.footer-social-media-container { 
  color: white;
  padding: 1em;
} 

.footer-social-media-container p { 
  font-style: italic;
}

.social-media-container-footer-container { 
  display: flex;
  gap: 1em;
}

.social-media-container-footer-container img { 
  width: 30px;
}


.footer-assistance-container { 
  color: white;
}

.footer-assistance-container h3{ 
  font-size: 2rem;
  font-weight: bolder;
} 

.phone-icon-container, 
.email-container { 
  display: flex;
  gap: 1em;
} */





/* footer and blog styles end */ 

/* HOME PAGE STYLES END */



/* Shopping Component styles */ 

.shopping-component-header-img-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping-component-header-img-container h1 { 
  color: white; 
}

.shopping-component-header-img-container img { 
  width: 15em;
}

.sort-by-div { 
  display: flex;
  gap: 0.5em;
  color: white;
  padding: 20px;
} 

.shopping-component-product-img-container { 
  display: flex;
  justify-content: center;
}

.shopping-component-products-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.shopping-component-product-wrapper { 
  background-color: black;
  padding: 20px;
}





.shopping-component-card-styles { 
  width: 25em;
  height: 25em;
  background-color: black;
}  

.shopping-component-card-img { 
  width: 15em;
  height: 15em;
} 

.shopping-component-card-styles-card-body { 
  background-color: black;
}

.shopping-component-card-styles-title,
.shopping-component-card-styles-price { 
  color: white !important;
}


/* @media (max-width: 1000px) { 

.shopping-component-card-styles { 
  width: 15em;
  height: 15em;
}  

.shopping-component-card-img { 
  width: 18em;
  height: 18em;
} 
} */



/* product page styles */ 


.product-page-image-container { 
  display: flex;
  padding: 20px;
}

.product-page-image-container img { 
  width: 23em;
}

.product-page-wrapper { 
  display: flex;
  background-color: black;
  color: white;
}

.product-page-product-description-title-container { 
  display: flex;
  flex-direction: column;
} 

.product-page-product-description-title-container h3 { 
  font-weight: bolder;
}

.product-page-review-container { 
  display: flex;
  gap: 0.5em;
}

/* .product-page-review-number-contaner { 
  display: flex;
  flex-direction: column;
} */


.product-page-review-container img { 
  width: 15px;
  height: 15px;
}

.product-page-description-add-btn-container { 
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-page-item-quantity-container { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 5em; */
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.product-page-btn-container{ 
  display: flex;
  gap: 1em;
} 

/* .product-page-quantity-description-text { 
  display: flex;
  flex-direction: column;
} */

.product-price-container h5 { 
  font-size: 3rem;
}

.product-page-btn-container div { 
  font-size: 3rem;
}

.product-page-btn-container button { 
  background-color: black;
  color: white;
  border: none;
  font-size: 3rem;
}

.product-page-add-to-cart-btn-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.product-page-add-to-cart-btn-container button { 
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 5%;
  font-size: 2rem;
  padding: 10px;
  font-weight: bolder;
}

.product-page-add-to-cart-btn-container button:hover { 
  background-color: white;
  color: black;
}



/* footer content for product page styles here */ 



/* product page styles end here */ 





/* checkout component styles here */ 


.checkout-component-wrapper { 
  background-color: black;
  color: white;
  /* width: 100vw;
  height: 100vh; */
}

.checkout-component-container { 
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.checkout-component-backtoshop-checkout-title-container { 
  display: flex;
  flex-direction: column;
}

.checkout-component-backtoshop-checkout-title-container h3 { 
  font-size: 2.3rem;
}

.container-for-img-and-title { 
  display: flex;
  align-items: center;
} 

.payment-method-container button { 
  background-color: black;
  color: white;
  font-size: 1.5rem;
} 

.place-order-btn-container { 
  padding: 25px;
}


/* .contact-information-content-wrapper { 
  display: flex;
  flex-direction: column;
}

.contact-information-container { 
  display: flex;
  flex-direction: row;
  
} */

.contact-info-container,
.delivery-container,
.receive-order-container,
.payment-method-container { 
  padding: 20px;
}


.first-last-name-container,
.phone-email-container { 
  display: flex;
  flex-direction: row;
}

.input-label-pair-first-name,
.input-label-pair-last-name,
.input-label-pair-first-email,
.input-label-pair-last-phone,
.input-label-pair-address,
.input-label-pair-delivery-instructions { 
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}


.input-label-pair-address input,
.input-label-pair-delivery-instructions input { 
  width: 35em;
}



.input-label-pair-delivery-instructions { 
  display: flex;
  flex-direction: column;
}


.input-label-pair-receive-asap,
.input-label-pair-receive-scheduled,
.input-label-pair-credit-card,
.input-label-pair-cash-on-delivery,
.input-label-pair-apple-google-pay { 
  display: flex;
  gap: 1em;
}




/* .first-last-name-content-container { 
  display: flex;
  flex-direction: column;
}  */





/* .phone-email-content-container { 
  display: flex;
} */

/* 
.first-name-content-container { 
  display: flex;
  flex-direction: column;
}

.first-name-content-container input { 
  width: 15em;
} */







/* media queries experiement for HEADER responsiveness, */ 



/* @media (max-width: 888px) { 

  .header-button-container { 
    margin-bottom: 30px;
  }

  .header-wrapper { 
    display: flex;
    flex-direction: column;
  }

  .header-icon-container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
} 

@media (max-width: 730px) { 

  .header-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .header-button-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 1em;
    text-align: center;
    flex-wrap: wrap;
    margin-left: 20px;
  } 

  .header-icon-container { 
    display: flex;
    justify-content: center;
    gap: 2em;
  }
}

@media (max-width: 550px) { 
  .header-button-container { 
    font-size: 1.1rem;
    text-align: center;
    gap: 0em;
    margin-bottom: 30px;
  }
} */

/* media queries for main title and icon section */ 

/* @media (max-width: 1750px) { 
  .main-title-section-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .images-container { 
    display: flex;
    position: relative;
    top: 5em;
    left: -1em;
  }

   .images-container img { 
    width: 200px;
  } 


}

@media (max-width: 705px) { 
  .images-container { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2em;
  }

} */


/* media queries for special offers and trending section */



/* 
@media (max-width: 1454px) { 

  .trending-offers-component-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }




  .special-offers-card-wrapper { 
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .card-container-trending-categories { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .special-offers-header-container { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 12px;
  }

  .trending-offers-header,
  .trending-categories-header-container { 
    display: flex;
    justify-content: center;
  }
} */


/* @media (max-width: 1000px) { 

  .trending-offers-header { 
    display: flex;
    justify-content: center;
  } 

  .special-offers-card-wrapper { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

} */



/* 
@media (max-width: 950px) { 

  .card-container-trending-offers-set-1 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card-container-trending-offers-set2 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  } 

  .trending-categories-container { 
    margin: 40px;
  }


  .footer-card-1,
  .footer-card-2,
  .footer-card-3 { 
    width: 12em;
    background-color: black;
    color: white;
  }

  .footer-social-media-container, 
  .footer-assistance-container { 
    font-size: 0.8rem;
  }

  .card-container-set-1, 
  .card-container-set-2, 
  .card-container-set-3 { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 50%;
  }

  
  .trending-offers-container { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .trending-categories-header { 
    display: flex;
    justify-content: center;
  } 



  .card-container-trending-categories { 
    display: flex;
    flex-direction: column;
  }

}  */









/* footer media queries */ 

/* @media (max-width: 765px) { 
  .footer-card-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .bottom-footer-content-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .social-media-container-footer-container { 
    display: flex;
    justify-content: center;
  }

  .footer-assistance-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 

  .phone-icon-container,
  .email-container { 
    display: flex;
    justify-content: center;
    padding: 10px;
  }

} */


/* tablet media queries footer component */

/* @media (max-width: 1050px) { 

  .footer-card-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  } 

  
  .bottom-footer-content-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .social-media-container-footer-container { 
    display: flex;
    justify-content: center;
  }

  .footer-assistance-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 10px double white;
    padding-top: 1rem
  } 

  .footer-assistance-container p { 
    margin-top: 2em;
  }

  .phone-icon-container,
  .email-container { 
    display: flex;
    justify-content: center;
    padding: 10px;
  }
} */



/* media queries for shopping component */

/* @media (max-width: 1000px) { 

  .shopping-component-card-styles { 
    width: 15em;
    height: 15em;
  }  
  
  .shopping-component-card-img { 
    width: 11em;
    height: 11em;
  } 
  }  */





  /* media queries for product page */ 

  
  /* @media (max-width: 1000px) { 
    .product-page-image-container img { 
      display: flex;
      width: 16em;
      height: 18em;
    } 

    .product-page-image-container { 
      display: flex;
      justify-content: center;
    }


   .product-page-product-description-title-container h3 { 
    font-size: 1.4rem;
   } 

   .product-page-wrapper { 
    display: flex;
    flex-direction: column;
   }

  } */








/* .style={{ width: '23em', height: '23em', backgroundColor: 'rgb(58, 53, 53)', color: 'white' }} */

/* .shopping-component-card-styles { 
  width: 23em;
  height: 23em;
  background-color: rgb(58, 53, 53);
  color: white;
} */



/* @media (max-width: 1000px) { 
  .shopping-component-card-styles { 
    width: 10em;
    height: 10em;
  }
} */
















/* @media(min-width: 1600px) {
  .trending-offers-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
    gap: 1em;
    width: 60%;
  }
}

@media(max-width: 1599px) {
  .trending-offers-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
    gap: 1em;
    width: 70%;
  }
}

@media(max-width: 1320px) {
  .trending-offers-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
    gap: 1em;
    width: 90%;
  }
}

@media(max-width: 1020px) {
  .trending-offers-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
    gap: 1em;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-wrapper-trending { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#trending-card-1, 
#trending-card-2,
#trending-card-3,
#trending-card-4,
#trending-card-5,
#trending-card-6 { 
  width: 50%;
  margin-right: 1rem;
  margin-bottom: 1rem;
} */

