@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Crete+Round&family=Montserrat:wght@200;500&family=Nunito:wght@500&family=Play:wght@700&family=Playfair+Display+SC:ital@1&display=swap');


/* new header styles begin here */ 


.header-wrapper { 
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  padding: 15px;
  flex-wrap: wrap;
  border-bottom: 2px solid rgb(46, 41, 41);
  width: 100vw;
} 

.header-button-container { 
  display: flex;
  align-items: center;
  gap: 3em;
  margin-left: 3em;
  font-size: 1.5rem;
} 

.header-button-container > button { 
  background-color: black;
  color: white;
  border: none;
} 

.header-button-container a:hover { 
  background-color: white;
  color: black;
} 

.header-button-container button:hover { 
  background-color: white;
  color: black;
}

.header-button-container a { 
  text-decoration: none;
  color: white;
}


.header-cart-icon, 
.header-gem-icon,
.header-search-icon { 
  color: white;
}

/* .header-button-container a:hover { 
  background-color: white;
  color: black;
} */

.header-icon-container { 
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
} 

.header-profile-icon { 
  color: white;
}



.badge-icon-for-shopping-cart { 
  /* position: absolute;
  left: 62.5em;
  top: 12em; */
  position: absolute;
  background-color: white;
  border-radius: 25%;
  vertical-align: top;
  margin-top: -6px;
  /* margin-right: -20px; */
  margin-left: 22px;
  padding: 2px;
}

.header-icon-container a { 
  text-decoration: none;
  color: black;
}


/* header styles end  */  






/* main component styles start here */ 


.main-title-section-wrapper { 
  background-color: black;
  /* padding: 10em; */
  padding: 10em;
  width: 100vw;
  /* height: 96vh; */
  /* margin-bottom: -3em; */
} 

.title-component-header-text-styles { 
  font-size: 2rem;
}

.main-title-subtitle-container { 
  color: white;
}

.main-title-subtitle-container h6 { 
  color: gray;
} 

.images-container { 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: -16em;
  right: -8em;
  height: 100%;
  gap: 1em;
} 




.img-styles-title-component { 
  width: 335px;
  transition: all 0.1s ease-in-out;
  animation: fadeInOut 4s infinite;
}

@keyframes fadeInOut { 
  0% { 
    opacity: 0;
  } 

  50% { 
    opacity: 1;
  } 

  100% { 
    opacity: 0;
  }
}


/* main styles end  */ 






/* categories component */ 


.categories-wrapper { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  padding: 15px;
  /* gap: 1em; */
} 

.category-header-text-styles { 
  font-size: 3rem;
}

.category-main-title-component { 
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
} 



.category-card-style-container-mens,
.category-card-style-container-womens,
.category-card-style-container-electronics,
.category-card-style-container-jewelery { 
  background-color: rgb(58, 53, 53);
} 

.category-card-style-container-mens h6, 
.category-card-style-container-womens h6,
.category-card-style-container-electronics h6,
.category-card-style-container-jewelery h6 { 
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

.mens-clothing-icon-container, 
.womens-clothing-icon-container,
.electronics-icon-container,
.jewelery-icon-container { 
  display: flex;
  justify-content: center;
}

.category-card-container-mens-and-womens-clothes,
.category-card-electronics-jewelry-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}




/* category comp ends */ 




/* trending and offers comp styles begin */

.trending-offers-component-wrapper { 
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
} 

/* .special-offers-container { 
  background-color: rgb(58, 53, 53);
  height: 86vh;
  width: 30vw;
} */

.special-offers-content-wrapper { 
  display: flex;
  flex-direction: column;
  margin: 12px;
  gap: 1em;
}

.special-offers-header-container { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  /* text-align: center; */
  font-size: 2rem;
  font-weight: bolder;
  padding: 10px;
  background-color: rgb(58, 53, 53);
  border-radius: 10%;
  /* margin: 12px; */
} 

.earrings-card-container, 
.new-arrivals-card-container,
.special-offers-timer-countdown-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(58, 53, 53);
  padding: 30px;
  border-radius: 10%;
} 

.earring-img-styles,
.new-arrivals-img-styles { 
  margin-bottom: 40px;
} 

.earrings-card-discount-div { 
  position: relative;
  bottom: 6em;
  left: 4em;
  background-color: black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  /* line-height: 500px; */
}



/* import Spline from '@splinetool/react-spline';

export default function App() {
  return (
    <Spline scene="https://prod.spline.design/nrvDIkIbp5gSH3iR/scene.splinecode" />
  );
} */






.new-arrivals-img-styles { 
  height: 120px;
  width: 120px;
}

.special-offers-title-text { 
  text-align: center;
}



/* trending and comp styles end */



.header-style-container { 
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* background-color: rgb(97, 35, 97); */

  /* background-color: rgb(14, 27, 87); */
  background-color: rgba(12, 20, 59, 0.966);
  padding: 40px;
  color: white;
  font-family: 'Nunito', sans-serif;
}  



.header-style-container > h1 { 
  font-size: 5.5rem;
} 



/* .search-experiment-styles { 
  margin-left: 90em;
} */

.search-bar-cart-items-icons { 
  /* display: flex;
  justify-content: flex-end;
  align-items: flex-start; */
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  gap: 1em;
  text-align: center;
} 

.flex-container-h1 { 
  display: flex;
  justify-content: center;
} 

.flex-container-h1 > h1 { 
  font-size: 5.5rem;
}


.header-button-styles-container { 
  display: flex;
  justify-content: center;
  /* text-decoration: none; */
} 

.header-button-styles-container a { 
  text-decoration: none;
}


.header-button-styles-container > button { 
  /* background-color: rgb(41, 41, 145); */
  background-color: rgb(11, 11, 126);
  border: none;
  font-size: 1.5rem;
  /* text-decoration: underline; */
  font-family:Arial, Helvetica, sans-serif;
  /* color: white; */
  /* color: inherit; */
  /* margin: 20px; */
  border-radius: 10px;
  /* padding: 10px; */
  color: white;
  text-decoration: none;
  margin: 5px;
} 

.header-button-styles-container > button:hover { 
  background-color: white;
  /* font-size: 1.5rem; */
}

/* .home-btn-styles { 
  color: white;
} */ 




/* .home-link-styles { 
  text-decoration: none;
} */






/* .header-icon-container { 
 display: flex;
 gap: 25px;
 color: white;
}  */



.search-icon-header,
.cart-icon-header { 
  width: 40px;
}

.featured-items-main-header { 
  text-align: center;
} 

/* .main-img { 
  width: 100px;
} */

.product-img-styles { 
  width: 30px;
  /* flex-basis: 33.33333%; */
  /* flex-basis: 30%; */
  width: calc(20% - 10px);
}

.product-img-container-styles { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} 

.img1-slider, 
.img2-slider,
.img3-slider { 
  width: 370px;
} 

.img1-container,
.img2-container,
.img3-container { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-component-container { 
  
/* background: rgb(4,1,1); */
/* background: linear-gradient(90deg, rgb(100, 30, 30) 0%, rgba(122,123,172,1) 45%, rgba(6,11,14,1) 100%, rgba(0,255,81,1) 100%); */

  
  /* background: linear-gradient(90deg, rgba(12,108,112,1) 0%, rgba(30,35,193,1) 32%, rgba(2,140,239,1) 100%, rgba(0,255,81,1) 100%);  */

  background-color: indigo;
  font-family: 'Nunito', sans-serif;
  padding: 30px;
  /* font-size: 5rem; */
} 

.store-img-container { 
  display: flex;
  justify-content: center;
}

.store-img-main { 
  width: 900px;
}

.main-component-container > h3 { 
  text-align: center;
  color: white;
  font-size: 2.5rem;
} 

.main-component-container > h4 { 
  text-align: center;
  color: white;
  text-decoration: underline;
} 

.main-btn-container { 
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* .img-slider-container { 
  background-color: rgb(115, 115, 211);
} */

/* .footer-contact-us-container { 
  border-right: 2px solid black;
  width: 30rem; 
} */

.footer-container { 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 27, 87);
  color: white;
  padding: 30px;
  border-bottom: 2px solid white;
  /* background: rgb(12,108,112);
  background: linear-gradient(90deg, rgba(12,108,112,1) 0%, rgba(30,35,193,1) 32%, rgba(2,140,239,1) 100%, rgba(0,255,81,1) 100%); */
} 

.subscribe-btn-container { 
  display: flex;
}

.footer-company-brand-help-container { 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* background-color: blue; */
  background-color: rgb(14, 27, 87);
  color: white;
  padding: 30px;
} 

.shopping-component-products-container { 
  display: flex;
  flex-wrap: wrap;
}

.shopping-component-card-container { 
  display: flex;
  /* flex-basis: 33.3333%; */
  width: calc(20% - 10px);
  justify-content: center;
  align-items: center;
  padding: 20px;
}  

.shopping-component-header-text { 
  text-align: center;
  text-decoration: underline;
}

.product-page-item-container { 
  display: flex;
  justify-content: center;
  text-align: center;
}

.about-component-content-container { 
  text-align: center;
  padding: 20px;
}

.about-photo-container { 
  display: flex;
  justify-content: center;
  gap: 3em;
} 

/* .cart-items-badge { 
  position: absolute;
  left: 62.5em;
  top: 12em;
  background-color: red;
  border-radius: 20%;
} */ 

/* modal styles experiment */ 

.modal-header-styles { 
  color: black;
}

.filteredItems-styles { 
  color: black;
  font-size: 0.5rem;
}
 

.error-msg-search-modal-styles { 
  color: black;
}




/* media queries experiement for HEADER responsiveness, */ 

@media (max-width: 888px) { 

  .header-button-container { 
    margin-bottom: 30px;
  }

  .header-wrapper { 
    display: flex;
    flex-direction: column;
  }

  .header-icon-container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 730px) { 

  .header-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .header-button-container { 
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 1em;
    text-align: center;
    /* padding: 5px; */
    /* font-size: 1rem; */
    flex-wrap: wrap;
    margin-left: 20px;
  } 

  .header-icon-container { 
    display: flex;
    justify-content: center;
    gap: 2em;
  }
}

@media (max-width: 550px) { 
  .header-button-container { 
    font-size: 1.1rem;
    text-align: center;
    gap: 0em;
    margin-bottom: 30px;
  }
}

/* media queries for main title and icon section */ 

@media (max-width: 1750px) { 
  .main-title-section-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .main-diamond-img-container { 
  position: relative;
  top: 6em;
  } */

  .images-container { 
    display: flex;
    /* flex-wrap: wrap; */
    position: relative;
    top: 5em;
    left: -1em;
  }

   .images-container img { 
    width: 200px;
  } 


}

@media (max-width: 680px) { 
  .images-container { 
    display: flex;
    flex-wrap: wrap;
  }
}

