.categories-wrapper { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 15px;
  } 
  
  .down-btn-container { 
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 20px;
  }
  
  .category-header-text-styles { 
    font-size: clamp(2rem, 2.5vw, 3rem);
  }
  
  .category-main-title-component { 
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
  } 
  
  
  
  .category-card-style-container-mens,
  .category-card-style-container-womens,
  .category-card-style-container-electronics,
  .category-card-style-container-jewelery { 
    background-color: rgb(58, 53, 53);
  } 
  
  .category-card-style-container-mens h6, 
  .category-card-style-container-womens h6,
  .category-card-style-container-electronics h6,
  .category-card-style-container-jewelery h6 { 
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  .mens-clothing-icon-container, 
  .womens-clothing-icon-container,
  .electronics-icon-container,
  .jewelery-icon-container { 
    display: flex;
    justify-content: center;
  }
  
  .category-card-container-mens-and-womens-clothes,
  .category-card-electronics-jewelry-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }