.checkout-component-wrapper { 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    background-color: black;
    color: white;
  }
  
  .checkout-component-container { 
    display: flex;
    flex-direction: column;
    padding: 60px;
  }
  
  .checkout-component-backtoshop-checkout-title-container { 
    display: flex;
    flex-direction: column;
  }
  
  .checkout-component-backtoshop-checkout-title-container h3 { 
    font-size: 2.3rem;
  }
  
  .container-for-img-and-title { 
    display: flex;
    align-items: center;
  } 
  
  .payment-method-container button { 
    background-color: black;
    color: white;
    font-size: 1.5rem;
  } 
  
  .place-order-btn-container { 
    padding: 25px;
  }
  
  
  .contact-info-container,
  .delivery-container,
  .receive-order-container,
  .payment-method-container { 
    padding: 20px;
  }
  
  
  .first-last-name-container,
  .phone-email-container { 
    display: flex;
    flex-direction: row;
  }
  
  .input-label-pair-first-name,
  .input-label-pair-last-name,
  .input-label-pair-first-email,
  .input-label-pair-last-phone,
  .input-label-pair-address,
  .input-label-pair-delivery-instructions { 
    display: flex;
    flex-direction: column;
    margin-right: 2em;
  }
  
  
  .input-label-pair-address input,
  .input-label-pair-delivery-instructions input { 
    width: 35em;
  }
  
  
  
  .input-label-pair-delivery-instructions { 
    display: flex;
    flex-direction: column;
  }
  
  
  .input-label-pair-receive-asap,
  .input-label-pair-receive-scheduled,
  .input-label-pair-credit-card,
  .input-label-pair-cash-on-delivery,
  .input-label-pair-apple-google-pay { 
    display: flex;
    gap: 1em;
  }





  /* right side checkout component styles here */ 


.checkout-component-right-side-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



  .checkout-component-right-side-icon-container { 
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-top: 4em;
    // gap: 1em;
    // background-color: rgb(58, 53, 53);
    // width: 31em;
    // margin-left: 10em;
    // padding: 20px;
    border-radius: 8%;
  }

//   .checkout-component-right-side-icon-container h1 { 
//     font-size: 3rem;
//   }


// .black-circle-gem-icon { 
//     position: relative;
//     background-color: black;
//     bottom: 3em;
//     right: 4em;
//     border-radius: 50%;
//     width: 70px;
//     height: 70px;
// }

.gem-icon { 
    position: relative;
    right: 3em;
    bottom: 2.5em;
}



.checkout-component-cart-items-container { 
    display: flex;
    flex-direction: column;
}


// .my-cart-items-container h6 { 
//     font-size: 2rem;
// } 

.my-cart-header-text-styles { 
  font-size: 2rem;
}

.number-of-cart-items-text-styles { 
  font-size: 1.3rem;
}

.product-img-styles { 
    width: 10em;
} 

.product-container-styles { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 1em;
    padding: 20px;
    background-color: rgb(58, 53, 53);
}

.product-container-styles h4 { 
  font-size: 1rem;
}

.my-cart-items-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: rgb(58, 53, 53);
} 

.remove-btn-container { 
  display: flex;
  flex-direction: column;
}


.increment-decrement-remove-btn-wrapper-style { 
  display: flex;
  flex-direction: column;
}

.increment-decrement-remove-btn-content-container { 
  display: flex;
}

.wrapper { 
  display: flex;
  flex-direction: column;
}

// .grand-total-container { 
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 20em;
//   background-color: gray;
// }




/* example styles on how to make the black circle, 

put the black circle down and the gem icon in the center of it. */ 

//   .earrings-card-discount-div { 
//     position: relative;
//     bottom: 10em;
//     left: 5em;
//     background-color: black;
//     border-radius: 50%;
//     width: 80px;
//     height: 80px;
//     text-align: center;
//   } 
  
//   .earrings-card-discount-div p { 
//     position: relative;
//     top: 1.5em;
//   }
  