.modal-header-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
  padding-right: 40px;
}

.modal-content-styles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(58, 53, 53);
  padding: 50px;
  z-index: 1000;
  height: 620px;
  width: 600px;
  overflow: scroll;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.modal-content-styles input {
  width: 11em;
  margin-right: 1em;
}

.back-arrow-search-modal {
  width: 30px;
}

.modal-search-btn-styles {
  margin-left: 1em;
}

.modal-product-wrapper {
  margin: 1em;
}

.modal-link-styles a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.modal-item-price-styles {
  font-weight: bolder;
}

.modal-product-img-styles {
  width: 5em;
}

.modal-link-styles a:hover {
  text-decoration: none !important;
  color: inherit !important;
}

.modal-product-styles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.modal-product-price-title-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
}
