@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Crete+Round&family=Montserrat:wght@200;500&family=Nunito:wght@500&family=Play:wght@700&family=Playfair+Display+SC:ital@1&display=swap');


.header-style-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: purple;
  padding: 40px;
  color: white;
  font-family: 'Nunito', sans-serif;
}  


.header-style-container > h1 { 
  font-size: 4rem;
}

.header-navbar-styles > button { 
  background-color: rgb(9, 9, 82);
  border: none;
  font-size: 1rem;
}

.header-icon-container { 
 display: flex;
 gap: 25px;
 color: white;
} 


.search-icon-header,
.cart-icon-header { 
  width: 40px;
}

.featured-items-main-header { 
  text-align: center;
} 

/* .main-img { 
  width: 100px;
} */

.product-img-styles { 
  width: 30px;
  /* flex-basis: 33.33333%; */
  /* flex-basis: 30%; */
  width: calc(20% - 10px);
}

.product-img-container-styles { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}